@import "reset";
@import "global";
@import "variables";

.page {
    display: grid;
    grid-template-columns: 240px 1fr;
    max-width: 1440px;
    height: 900px;
    &__dashboard {
        max-width: 240px;
        height: 100%;
        background-color: $headline;
    }
    &__content {
        max-width: 1200px;
        max-width: 100%;
        background-color: $background;
    }
}

.dashboard__logo {
    margin-top: 46px;
    text-align: center;
}

.dashboard__menu {
    margin-top: 72px;
    margin-left: 42px;
    h3 {
        color: #fff;
        margin-bottom: 36px;
    }
    li {
        color: $light-purple;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.02em;
        margin-bottom: 36px;
        position: relative;
        &:first-of-type {
            color: #fff;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 21px;
            position: relative;
            &::before {
                content: '';
                background: url('../images/red-line.png') no-repeat;
                position: absolute;
                width: 5px;
                height: 34px;
                top: -7px;
                left: -42px;
            }
        }
        img {
            margin-right: 18px;
        }
    }
}

.dashboard__offering {
    position: relative;
    width: 176px;
    height: 190px;
    margin: 0 auto;
    margin-top: 99px;
    background-color: #1D1C40;
    color: #fff;
    border-radius: 20px;
    overflow: hidden;
    &-text {
        position: relative;
        padding-left: 21px;
        padding-top: 60px;
        z-index: 2; 
    }
    span {
        display: block;
        font-weight: 400;
        &.dashboard__offering-bold {
            font-weight: bold;
        }
    }
    &::after {
        content: '';
        background: url('../images/Logo-bottom.png') no-repeat;
        width: 117px;
        height: 155px;
        position: absolute;
        top: 55px;
        right: -21px;
        z-index: 1;
    }
}

.header {
    height: 79px;
    width: 100%;
    display: flex;
    background-color: #fff;
    &::before {
        content: '';
        background: url('../images/search.svg') no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 31px;
        left: 281px;
    }
    &__search {
        width: 865px;
        padding-left: 80px;
        border: 0;
        &::-webkit-input-placeholder {
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 17px;
            color: #8695A0;
        }
        &::-moz-placeholder {
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 17px;
            color: #8695A0;
        }
        &:-moz-placeholder {
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 17px;
            color: #8695A0;
        }
        &:-ms-input-placeholder {
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 17px;
            color: #8695A0;
        }
    }
    &__user {
        width: calc(100% - 865px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__user-messages {

    }
    &__user-info {
        height: 51px;
        display: flex;
        justify-content: space-between;
        margin-left: 22px;
        position: relative;
        &__text {
            margin-left: 12px;
            &-name {
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
            }
            &-position {
                margin-top: 6px;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 12px;
            }
            span {
                display: block;
            }
        }
        &::before {
            content: '';
            background: url('../images/gray-line.png') no-repeat;
            width: 1px;
            height: 40px;
            position: absolute;
            top: 3px;
            left: -153px;
        }
        &::after {
            content: '';
            background: url('../images/bubbles.png') no-repeat;
            width: 8px;
            height: 15px;
            position: absolute;
            top: 14px;
            right: -38px;
        }
    }
}

.title {
    display: inline-block;
    margin: 47px 0 19px 40px;
    color: $headline;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.line-horizontal {
    height: 1px;
    background-color: #EEEEEE;
    position: absolute;
}

.content {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 787px 310px;
    grid-gap: 25px;
    padding: 0 40px;
    height: calc(100% - 170px);
    &__profile {
        width: 787px;
        height: 695px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__messaging {
        width: 310px;
        background-color: #fff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;
    }
    .messaging {
        &__header {
            background-color: #FAFAFF;
            display: flex;
            align-items: center;
            height: 57px;
            position: relative;
            padding: 0 16px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom: 1px solid #EEEEEE;
            &-title {
                margin-left: 13px;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 19px;
                color: $headline;
            }
            &-photo {
                width: 30px;
                height: 30px;
            }
            &-search {
                height: 16px;
                margin-left: 33px;
            }
            &-edit {
                height: 18px;
                margin-left: 20px;
            }
            &-bubbles {
                height: 3px;
                margin-left: 17px;
            }
            &-arrow {
                width: 16px;
                margin-left: 23px;
            }
            &-online {
                position: absolute;
                top: 34px;
                left: 35px;
                width: 10px;
            }
        }
        &__friends {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 15px 16px 0 16px;
            width: 317px;
            margin-bottom: 41px;
            &-add {
                width: 50px;
                height: 50px;
                background-color: #E3E2E5;
                border-radius: 50%;
                position: relative;
                .plus {
                    position: absolute;
                    top: calc(50% - 8px);
                    left: calc(50% - 8px);
                }
            }
            &-person {
                .image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 46px;
                    height: 46px;
                    // padding: 1px;
                    background-color: white;
                    border: 2px solid #5855D6;
                    border-radius: 50%;
                }
                img {
                    &:last-of-type {
                        height: 40px;
                    }
                }
            }
            span {
                display: block;
                margin-top: 2px;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 14px;
                color: #77838F;
                text-align: center;
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            padding: 0 15px;
            .messaging__item{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-bottom: 42px;
                position: relative;
                &-image {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 55px;
                    height: 55px;
                    position: relative;
                    span {
                        position: absolute;
                        bottom: -7px;
                        right: -5px;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 12px;
                        color: $purple;
                    }
                }
                &-content {
                    width: 160px;
                    margin-left: 14px;
                    h5 {
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 16px;
                        color: $headline;
                    }
                    p {
                        margin-top: 5px;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        color: $text;
                    }
                }
                &-time {
                    width: 50px;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 12px;
                    color: #77838F;
                    text-align: right;
                }
                &-amount {
                    position: absolute;
                    bottom: 4px;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25px;
                    height: 25px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 17px;
                    color: #fff;
                    background-color: $purple;
                    border-radius: 50%;
                }
                &:nth-child(2) {
                    img {
                        width: 25px;
                        height: 25px;
                        margin-bottom: 5px;
                    }
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
                .line-horizontal {
                    width: 280px;
                    top: 75px;
                    left: 0;
                }
            }
        }
    }
}

.programs {
    background-color: #fff;
    position: relative;
    border-radius: 20px;
    padding: 25px 25px 25px 25px;
    margin-bottom: 26px;
    &__title {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px;
        color: $headline;
    }
    .customize {
        position: absolute;
        top: -32px;
        right: 12px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px;
        color: $purple;
        &::after {
            content: '';
            background: url('../images/icon-customize.svg') no-repeat;
            width: 17px;
            height: 17px;
            position: absolute;
            top: 1px;
            left: -23px;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        height: 104px;
        margin-bottom: 10px;
        &-uni {
            width: 285px;
            display: flex;
            .info {
                margin-left: 16px;
                span {
                    display: inline-block;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: #fff;
                    background-color: $purple;
                    border-radius: 35px;
                    padding: 0 10px;
                    margin-bottom: 11px;
                }
                p {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 17px;
                    color: $headline;
                }
            }
        }
        &-grades {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            flex-wrap: wrap;
            margin-left: 51px;
            .assignments {
                width: 62px;
                margin-right: 40px;
            }
            .absenses {
                width: 45px;
                margin-right: 49px;
            }
            .average {
                width: 45px;
                margin-right: 51px;
            }
            span {
                display: block;
                font-family: 'MuseoModerno', cursive;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 57px;
                color: $text;
                text-align: center;
            }
            p {
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 12px;
                color: $text;
                text-align: center;
            }
            img {
                width: 44px;
                height: 44px;
                margin-bottom: 20px;
            }
        }
    }
    &::before {
        content: '';
        background: url('../images/bubbles-horiz.png') no-repeat;
        width: 22px;
        height: 6px;
        position: absolute;
        top: 30px;
        right: 43px;
    }
    .line-horizontal {
        width: 737px;
        top: 163px;
        left: 23px;
    }
}

.sessions {
    display: flex;
    &__detailed {
        height: 305px;
        width: 336px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 20px;
        &-info {
            position: absolute;
            bottom: -52px;
            z-index: 5;
            width: 270px;
            padding: 20px;
            display: flex;
            justify-content: flex-start;
            background-color: #fff;
            border-radius: 10px;
            .title {
                margin: 0;
                h5 {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    color: #0E1566;
                }
                p {
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 13px;
                    text-transform: uppercase;
                    color: $text;
                }
                span {
                    position: relative;
                    display: block;
                    font-size: 14px;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 17px;
                    color: $red;
                    margin-left: 28px;
                    margin-top: 10px;
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: 6;
                        background: url('../images/time.png') center center no-repeat;
                        top: -2px;
                        left: -25px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .join {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 14px;
                p {
                    font-family: 'MuseoModerno', cursive;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 21px;
                    color: $text;
                    text-transform: uppercase;
                    text-align: right;
                    span {
                        font-family: 'Roboto', sans-serif;
                        display: block;
                        line-height: 8px;
                        font-size: 10px;
                        color: inherit;
                    }
                }
                span {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 17px;
                    color: $purple;
                    text-align: right;
                }
            }
        }
        &-checkbox {
            position: absolute;
            top: 18px;
            right: 25px;
        }
    }
    &__upcoming {
        position: relative;
        height: 100%;
        width: 375px;
        background-color: #fff;
        padding: 26px 33px 0 24px;
        border-radius: 20px;
        margin-left: 25px;
        &-title {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 19px;
            color: $headline;
            margin-bottom: 28px;
        }
        .calendar {
            display: flex;
            flex-direction: column;
            &__subtitle {
                margin-bottom: 15px;
                p {
                    display: inline-block;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 17px;
                    color: #65708D;
    
                }
                &-date {
                    margin-right: 51px;
                }
                &-class {
                    margin-right: 170px;
                }
            }
            &__item {
                display: flex;
                align-items: center;
                height: 48px;
                margin-bottom: 27px;
                .date {
                    width: 54px;
                    .weekday {
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 12px;
                        color: $purple;
                        text-align: center;
                    }
                    .day {
                        font-family: 'MuseoModerno', cursive;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 21px;
                        color: $text;
                        text-align: center;
                    }
                    .month {
                        font-size: 10px;
                        font-style: normal;
                        text-transform: uppercase;
                        font-weight: 700;
                        line-height: 11px;
                        color: $text;
                        text-align: center;
                    }
                }
                
                
                .lesson {
                    display: flex;
                    justify-content: flex-start;
                    margin-left: 30px;
                    &__info {
                        width: 198px;
                    }
                    &__info-title {
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 14px;
                        color: $headline;
                    }
                    &__info-subtitle {
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 14px;
                        color: $text;
                    }
                    &-active {
                        width: 293px;
                        box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.1);
                        background-color: #FAFAFF;
                        border-radius: 10px;
                        padding: 16px 12px 16px 12px;
                        margin-left: 26px;
                        justify-content: flex-start;
                    }
                }
                span {
                    display: inline;
                    width: 75px;
                    background-color: #E7E7FF;
                    font-size: 9px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 11px;
                    color: $headline;
                    height: max-content;
                    padding: 5px 7px;
                    border-radius: 11px;
                    text-align: center;
                }
            }
        }
        &-bottom {
            position: absolute;
            bottom: 19px;
            right: 44px;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 17px;
            color: $purple;
        }
        &::before {
            content: '';
            position: absolute;
            background: url('../images/bubbles-horiz.png') center center no-repeat;
            top: 35px;
            right: 29px;
            width: 22px;
            height: 4px;
        }

    }
}


